*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 8px;
}

.main--user{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 8px
}

.user--list{
    width: 180px;
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(196, 206, 255);
    box-shadow: 1px 1px 4px black;
}

.user--list span{
    font-weight: bold;
}

.user--list--address{
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;
    background-color: blanchedalmond;
    box-shadow: 1px 1px 4px black;

}